<a href="https://colab.research.google.com/github/Nikhil5566/EDA-Insights-Repo/blob/main/Multiclass_Diabetes_Insights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Multiclass Diabetes Dataset.csv')
df.head()

   Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  Class
0       0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
1       1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0      0
2       1   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0      0
3       0   45   2.3  24    4.0   2.9  1.0  1.0  1.5   0.4  21.0      0
4       0   50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6  24.0      0

#  Basic Aggregation

1. What is the average age of all patients?

2. What is the average HbA1c level across the dataset?

3. What is the average BMI for each class?

4. What is the minimum and maximum Urea level observed?

In [3]:
print('Average age of the patients:', df['AGE'].mean())

Average age of the patients: 49.52272727272727

In [5]:
print(' average HbA1c level across the dataset:',df['HbA1c'].mean())

 average HbA1c level across the dataset: 6.862727272727273

In [11]:
print('The average BMI for each class:\n',df.groupby('Class')['BMI'].mean())

The average BMI for each class:
 Class
0    22.350000
1    24.112500
2    30.620234
Name: BMI, dtype: float64

In [8]:
print('The minimum Urea level observed:', df['Urea'].min())

The minimum Urea level observed: 1.1

In [9]:
print('The maximun Urea level observed:', df['Urea'].max())

The maximun Urea level observed: 26.4

# Group Insights

1. What is the distribution of patients across each diabetes class?

2. What is the average HbA1c for each diabetes class?

3. What is the average lipid profile (Chol, HDL, LDL) by gender?

4. How does the BMI vary across different diabetes classes?

In [13]:
print('The distribution of patients across each diabetes class:\n', df['Class'].value_counts())

The distribution of patients across each diabetes class:
 Class
2    128
0     96
1     40
Name: count, dtype: int64

In [15]:
print('The average HbA1c for each diabetes class',df.groupby('Class')['HbA1c'].mean())

The average HbA1c for each diabetes class Class
0    4.578125
1    6.012500
2    8.841875
Name: HbA1c, dtype: float64

In [39]:
print(':\n', df.groupby('Gender')[['Chol','HDL','LDL']].mean())

:
             Chol       HDL       LDL
Gender
0       4.558333  1.267917  2.505000
1       4.624444  1.112014  2.552431

# Gender-Based Analysis

1. Is there a difference in average HbA1c between males and females?

2. Which gender has a higher average BMI?

3. What percentage of each gender falls into each diabetes class?

In [22]:
print('Is there? :', df.groupby('Gender')['HbA1c'].mean())

Is there? : Gender
0    6.422167
1    7.229861
Name: HbA1c, dtype: float64

In [25]:
print('Average BMI by gender:\n', df.groupby('Gender')['BMI'].mean())

Average BMI by gender:
 Gender
0    25.860000
1    27.265903
Name: BMI, dtype: float64

In [31]:
print('Gender :',df.groupby('Gender')['Class'].value_counts(normalize=True))

Gender : Gender  Class
0       0        0.483333
        2        0.408333
        1        0.108333
1       2        0.548611
        0        0.263889
        1        0.187500
Name: proportion, dtype: float64

# Correlation & Relationship Exploration

1. Is there a correlation between BMI and HbA1c?

2. How strongly are cholesterol levels (Chol, HDL, LDL) correlated?

3. Does higher age correlate with higher diabetes class?

In [33]:
print('Correlation between BMI and HbA1c:', df['BMI'].corr(df['HbA1c']))

Correlation between BMI and HbA1c: 0.614643245071313

In [38]:
print('How strongly are cholesterol levels (Chol, HDL, LDL) correlated:\n', df[['Chol','HDL','LDL']].corr())

How strongly are cholesterol levels (Chol, HDL, LDL) correlated:
           Chol       HDL       LDL
Chol  1.000000  0.044228  0.435670
HDL   0.044228  1.000000 -0.141959
LDL   0.435670 -0.141959  1.000000

In [41]:
print('Correlation between AGE and Class:\n',df['AGE'].corr(df['Class']))

Correlation between AGE and Class:
 0.5143314278252511

#  Ranking and Extremes

1. Who are the top 5 patients with the highest HbA1c levels?

2. What are the average values of all features for the class with the worst diabetes condition?

In [44]:
print('Top 5:', df.nlargest(5, 'HbA1c'))

Top 5:      Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  Class
156       0   59   6.0  28   14.6   6.1  4.4  1.2  1.3   2.0  29.0      2
186       0   52   8.0  56   13.8   5.6  2.5  0.9  3.7   1.1  26.0      2
183       0   50   4.0  56   13.7   4.4  2.0  1.0  2.5   0.9  29.0      2
231       1   54   4.3  90   13.2   9.2  1.2  1.6  2.4   2.0  36.0      2
235       1   68   7.4  98   12.9   8.8  4.5  1.1  5.6   2.1  29.0      2

In [46]:
print('Average values of all features for the class with the worst diabetes condition:', df.groupby('Class').mean().min())

Average values of all features for the class with the worst diabetes condition: Gender     0.395833
AGE       43.400000
Urea       4.545000
Cr        63.239583
HbA1c      4.578125
Chol       4.206250
TG         1.656250
HDL        1.127500
LDL        2.370000
VLDL       0.968750
BMI       22.350000
dtype: float64

# Health Risk Indicators

1. How many patients have BMI > 25 and HbA1c > 6.5 (high risk)?

2. What is the average LDL of patients with high HbA1c (>6.5)?

3. Are there patients who are young (AGE < 35) but fall into high diabetes class?

In [47]:
print('How many patients have BMI > 25 and HbA1c > 6.5 (high risk):', len(df[(df['BMI'] > 25) & (df['HbA1c'] > 6.5)]))

How many patients have BMI > 25 and HbA1c > 6.5 (high risk): 114

In [48]:
print('What is the average LDL of patients with high HbA1c (>6.5):', df[df['HbA1c'] > 6.5]['LDL'].mean())

What is the average LDL of patients with high HbA1c (>6.5): 2.4869747899159664

In [50]:
print('Are there patients who are young (AGE < 35) but fall into high diabetes class:', len(df[(df['AGE'] < 35) & (df['Class'] == 3)]))

Are there patients who are young (AGE < 35) but fall into high diabetes class: 0

# General Statistics

1. Provide summary statistics (mean, std, min, max) for all numerical columns.

2. Are there any missing or anomalous values in the dataset?

In [51]:
print('Summary statistics for all numerical columns:\n', df.describe())

Summary statistics for all numerical columns:
            Gender         AGE        Urea          Cr       HbA1c        Chol  \
count  264.000000  264.000000  264.000000  264.000000  264.000000  264.000000
mean     0.545455   49.522727    5.671515   85.806818    6.862727    4.594394
std      0.498875   10.127301    4.002837   99.400047    2.544604    1.289062
min      0.000000   25.000000    1.100000    6.000000    0.900000    0.000000
25%      0.000000   43.000000    3.600000   46.000000    5.000000    3.875000
50%      1.000000   50.000000    4.700000   61.000000    6.100000    4.500000
75%      1.000000   55.250000    6.100000   82.250000    8.200000    5.300000
max      1.000000   77.000000   26.400000  800.000000   14.600000    9.500000

               TG         HDL         LDL        VLDL         BMI       Class
count  264.000000  264.000000  264.000000  264.000000  264.000000  264.000000
mean     2.151894    1.182879    2.530871    1.479167   26.626856    1.121212
std      1.265841    0.455591    1.000173    3.099856    5.093652    0.914857
min      0.600000    0.400000    0.300000    0.200000   19.000000    0.000000
25%      1.300000    0.900000    1.800000    0.675000   23.000000    0.000000
50%      1.800000    1.100000    2.500000    0.900000   25.000000    1.000000
75%      2.725000    1.325000    3.200000    1.300000   30.000000    2.000000
max      8.700000    4.000000    5.600000   31.800000   43.250000    2.000000

In [52]:
df.isnull().sum()

Gender    0
AGE       0
Urea      0
Cr        0
HbA1c     0
Chol      0
TG        0
HDL       0
LDL       0
VLDL      0
BMI       0
Class     0
dtype: int64

# Thank you